<nav class="navbar navbar-inverse">
  <a class="navbar-brand custom-header-logo" href="../">
    <img alt="Brand" class="logo" src="images/launcher-icon-1x.png">
  </a>
  <ul class="nav navbar-nav">
    <% var navs = [  {
        title: "Tools",
        "link": "/account",
        "tip": "Manage my account"
      },
      {
          title: "Add Scrape",
          "link": "/add-scrape",
          "tip": "Add new scrape"
      },
      {
          title: "My Items",
          "link": "/my-list",
          "tip": "See list of my items"
        },
      {
        title: "My Scrapes",
        "link": "/manage-scrapes",
        "tip": "Manage my scrapes"
      }]
      %>

  <% navs.forEach(function(nav) { %>
    <% if (nav['link'] == page) { %>
      <li class="active"><a href="<%= nav['link'] %>"><%= nav['title'] %></a></li>
    <% } else { %>
      <li><a href="<%= nav['link'] %>"><%= nav['title'] %></a></li>
    <% } %>
  <% }) %>
  </ul>

    <p class="navbar-text navbar-right">Logged in as <a href="#" class="navbar-link"><%= user.displayName %></a></p>
</nav>
