<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
    <h1><%= itemType %> <small>Scrape</small></h1>

    <table class="table table-striped">
      <thead>
				<tr><th>Item</th><th>Price</th><th>Place</th><th>Link</th><th>Image</th></tr>
      </thead>
      <tbody>
            <% for(var i = 0; i<listingData.length; i++) { %>
              <% //var formattedDate = data.date.toString().substring(0, 10); %>
                <tr>
              <td><%= listingData[i].item %></td><td><%= listingData[i].price %></td><td><%= listingData[i].place %></td><td><a href='<%= listingData[i].url %>'><%= listingData[i].url %></a></td><td><img src='<%= imgData[i] %>'width="150px"> </td></tr>
          <% } %>
          </ul>
        </div>
      </tbody>
      </table>
    </div>
  </body>
</html>
