<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="images/howtoterm.gif">
        </a>
        <ul class="nav navbar-nav">
         <li><a href="http://howtoterminal.com">Home</a></li>
         <li class="active"><a href="#"><%= itemType %> Scrape</a></li>
       </ul>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
      </nav>

    <table class="table table-striped">
      <thead>
				<tr><th>Item</th><th>Price</th><th>Place</th><th>Link</th><th>Image</th></tr>
      </thead>
      <tbody>
            <% listingData.forEach(function(data) { %>
              <% //var formattedDate = data.date.toString().substring(0, 10); %>
                <tr>
              <td><%= data.item %></td><td><%= data.price %></td><td><%= data.place %></td><td><a href='<%= data.url %>'><%= data.url %></a></td><td><img src='<%= data.thumb %>' width="100px"></td></tr>
          <% }); %>
          </ul>
        </div>
      </tbody>
      </table>
    </div>
  </body>
</html>
