<!DOCTYPE html>
<html>
  <head>
    <title><%= itemType %> Scrape</title>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/head') %>
    <% } else { %>
      <% include partials/head %>
    <% } %>
  </head>
  <body>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/nav') %>
    <% } else { %>
      <% include partials/nav %>
    <% } %>

    <div class="container-fluid">

      <% var i = -1; %>
      <% var itemsPerRow = 1; %>
      <% if (listingData.length === 0) { %>
        <p>
          No Results
        </p>
      <% } %>

      <div class="row centered mt mb">
      <% listingData.forEach(function(data) { %>
          <div class="craigs-box col-lg-<%= 12/itemsPerRow %> col-md-<%= 12/itemsPerRow %> col-sm-<%= 12/itemsPerRow %> gallery">
            <img src="<%= data.img %>" alt="<%= data.title %>" onError="this.onerror=null;this.src='images/not-found.png';">
            <div class="caption">
              <h4><%= data.title %></h4>
              <p>$<%= data.price %> <%= data.info %></p>
              <p><a href="<%= data.link %>" class="btn btn-primary" role="button">Source</a> <a href="<%= data.img %>" class="btn btn-default" role="button">Image</a></p>
            </div>
          </div>
      <% }); %>
      </div>
    </div>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/footer') %>
    <% } else { %>
      <% include partials/footer %>
    <% } %>
  </body>
</html>
