<!DOCTYPE html>
<html>
  <head>
     <% include partials/head %>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
        <a class="navbar-brand custom-header-logo" href="#">
          <img alt="Brand" src="images/howtoterm.gif">
        </a>
        <ul class="nav navbar-nav">
         <li><a href="http://howtoterminal.com">Home</a></li>
         <li class="active"><a href="#"><%= itemType %> Scrape</a></li>
       </ul>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
      </nav>

    <div class="container-fluid">

      <% var i = -1; %>
      <% var itemsPerRow = 4; %>
      <% listingData.forEach(function(data) { %>
        <% i++; %>
        <% if (i%itemsPerRow == 0) { %>
            <div class="row">
        <% } %>
              <div class="craigs-box col-md-<%= 12/itemsPerRow %>">
                <img src="<%= data.img %>" alt="<%= data.title %>" onError="this.onerror=null;this.src='images/not-found.png';">
                <div class="caption">
                  <h4><%= data.title %></h4>
                  <p>$<%= data.price %></p>
                  <p><a href="<%= data.itemUrl %>" class="btn btn-primary" role="button">Source</a> <a href="<%= data.img %>" class="btn btn-default" role="button">Image</a></p>
                </div>
              </div>
        <% if (i%itemsPerRow == itemsPerRow-1) { %>
          </div>
        <% } %>
      <% }); %>
    </div>

    <footer class="footer">
      <a class="navbar-brand navbar-right" href="https://github.com/zvakanaka">
        <img class="custom-footer-logo" alt="Github Logo" src="images/github.gif">
      </a>
    </footer>
  </body>
</html>
