<!DOCTYPE html>
<html>
  <head>
    <title>Manage Scrapes</title>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/head') %>
    <% } else { %>
      <% include partials/head %>
    <% } %>
  </head>
  <body>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/nav') %>
    <% } else { %>
      <% include partials/nav %>
    <% } %>

    <div class="container-fluid">
      <% if (myScrapes.length === 0) { %>
        <p>No Scrapes</p>
      <% } %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My Scrapes</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr><th>Search Term</th><th>Max Price</th><th>Zip</th></tr>
          </thead>
          <tbody>
            <% myScrapes.forEach(function(data) { %>
            <tr><td><a href="<%= data.searchUrl %>"><%= data.searchTerm %></a></td></td><td>$<%= data.maxPrice %></td><td><%= data.zip %></td><td><a href="scrape-details?id=<%= data._id %>" class="btn btn-primary" role="button">Details</a></td></tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/footer') %>
    <% } else { %>
      <% include partials/footer %>
    <% } %>
  </body>
</html>
